<div
    id="game-panel"
    data-bind="with: selectedBase, visible: selectedBase"
    style="display: none"
    class="col-lg-3"
>

    <h1 data-bind="playerColor: player()">
        <span data-bind="text: name"></span>
        <small data-bind="text: player().name"></small>
    </h1>

    <ul class='base-stats list-unstyled'>
        <li>
            Resources:
            <span data-bind="text: resources"></span>
        </li>
        <li data-bind="if: production">
            Production:
            <span data-bind="text: production"></span>
        </li>
    </ul>

    <p data-bind="if: totalPower() > 0">
        Power: <span data-bind="text: totalPower"></span>
        <br>- <span data-bind="text: fleetPower"></span> orbiting ships
        <br>- <span data-bind="text: power"></span> garrisoned ships
    </p>

    <form data-bind="
        if: power() > 0 && player().id() == playerId,
        submit: fleetCommand.create
    ">
        <input type="number" data-bind="value: fleetCommand.power" placeholder="ships">
        <button type="submit">create fleet</button>
    </form>
    

    <!-- ko if: fleets().length > 0 -->
    <p>
        <span data-bind="text: fleets().length"></span>
        orbiting fleets:
    </p>
    <ul class="fleets-list list-unstyled">
        <!-- ko foreach: ownFleets() -->
        <li data-bind="playerColor: player()">
            <label>
                <input type="checkbox" data-bind="value: id, checked: $parent.fleetCommand.fleets">
                <span data-bind="text: power"></span> ships
                (<span data-bind="text: player().name"></span>)
                <!-- ko if: destination() -->
                moving to <span data-bind="text: destination().name"></span>
                <!-- /ko -->
            </label>
        </li>
        <!-- /ko -->

        <!-- ko if: fleetCommand.fleets().length > 0 -->
        <li class='fleet-commands'>
            <button type="button" class="btn btn-default btn-xs" data-bind="click: fleetCommand.garrison">
                garrison
            </button>

            <button type="button" class="btn btn-default btn-xs" data-bind="click: fleetCommand.abort">
                abort jump
            </button>

            <!-- ko foreach: inFleetRange() -->
                <br><button type="button" data-bind="
                    text: 'Move to ' + name + '(' + distance + ')',
                    click: $parent.fleetCommand.move
                " class="btn btn-default btn-xs"></button>
            <!-- /ko -->
        </li>
        <!-- /ko -->

        <!-- ko foreach: otherFleets() -->
        <li data-bind="playerColor: player()">
            <span data-bind="text: power"></span> ships
            (<span data-bind="text: player().name"></span>)
            <!-- ko if: destination() -->
            moving to <span data-bind="text: destination().name"></span>
            <!-- /ko -->
        </li>
        <!-- /ko -->
    </ul>
    <!-- /ko -->

    <!-- ko if: inbound().length > 0 -->
    <p>
        <span data-bind="text: inbound().length"></span>
        inbound fleets:
    </p>
    <ul class="list-unstyled" data-bind="foreach: inbound">
        <!-- ko if: origin() -->
        <li data-bind="playerColor: player()">
            <span data-bind="text: power"></span> ships
            (<span data-bind="text: player().name"></span>)
            from <span data-bind="text: origin().name"></span>
        </li>
        <!-- /ko -->
    </ul>
    <!-- /ko -->

</div>