body {
    margin-bottom: 2em;
}

.map-wrapper {
    background: #111911;
    padding: 50px 10px;
    overflow: hidden;
}

.map-container {
    display: block;
    margin: 0 auto;
    position: relative;
    float: left;
}

.game-panel {
    float: left;
    margin-left: 40px;
    width: 330px;
    height: 550px;
    color: #bbb;
}
.game-panel h2 {
    color: #ddd;
}

.base-owned .base-name,
.base-owned .player-name {
    color: #0b0;
}