html {
    width: 100%;
    height: 100%;
}
body {
    margin-bottom: 2em;
}

.body-map {
    margin: 0;
    width: 100%;
    height: 100%;
}

#map-wrapper {
    background: #111911;
    /*background: url('/img/bg_nebula.jpg');*/
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.map-container {
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#game-panel {
    position: absolute;
    top: 1em;
    right: 1em;
    display: inline-block;
    color: #bbb;
    z-index: 9;
    background: #111;
    padding: 0.5em 1em;
}

#game-panel h1 {
    margin-bottom: 1em;
}
#game-panel h1 small {
    display: block;
    font-size: 0.5em;
}

.lobby-players {
    margin: 2em 0 3em 0;
}
.lobby-players li {
    margin-bottom: 0.5em;
}
.playercolorsquare {
    display: inline-block;
    margin-right: 0.5em;
    width: 24px;
    height: 24px;
    border: 1px solid #333;
    vertical-align: middle;
}

.base-owned .base-name,
.base-owned .player-name {
    color: #0b0;
}

.fleets-list label {
    font-weight: normal;
}

.fleet-create {
    display: inline-block;
}

.fleet-commands .btn {
    margin-bottom: 0.2em;
}

.map-status {
    background: #333;
    color: #ddd;
    padding: 3px 10px;
    height: 30px;
}

#footer {
    margin-top: 3em;
    text-align: right;
}
#footer .container {
    border-top: 1px solid #ddd;
}

.game-running {
    color: green;
    font-weight: bold;
}
.game-stopped {
    color: orange;
}
.game-new {
    color: #009;
}