{% extends 'MyMainBundle::layout.html.twig' %}

{% block content %}
<p class="lead">Greenspace</p>

<ul>
    {% for g in games %}
    <li>
        <a href="{{ path('games_show', {game: g.id}) }}">
            [{{ g.id }}] {{ g.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}